body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #17bb5b;
}

p {
    font-size: 1.2em;
    color: #333;
}

p.small {
    color: #FF6347;
}

p.big {
    color: #4169E1;
}
